.cart {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.cart__item {
    width: 100%;
    max-width: 424px;

    a {
        text-align: center;
        color: rgba(148, 163, 184, 255);
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }
}

.cart__item-top {
    background-color: rgba(15, 23, 42, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    span {
        color: #fff;
    }

    span:nth-child(1) {
        color: rgba(255, 255, 255, 255);
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;

        &::before {
            content: url('../../assets/cart/cart-icon.svg');
            position: relative;
            top: 3px;
            right: 8px;
        }
    }

    span:nth-child(2) {
        color: rgba(255, 255, 255, 255);
        font-family: Inter;
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        background-color: rgba(37, 99, 235, 255);
        padding: 2px 8px;
        border-radius: 50%;
    }
}

.cart__item-bottom {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(241, 245, 249, 255);
    padding: 30px 20px 20px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.cart__item-bottom-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    span:nth-child(1) {
        color: rgba(100, 116, 139, 255);
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }

    span:nth-child(2) {
        color: rgba(15, 23, 42, 255);
        font-family: Inter;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
    }
}

.cart__item-bottom-btn {
    background: linear-gradient(172.41deg, rgba(37, 99, 235, 1), rgba(29, 78, 216, 1) 100%);
    box-shadow: 0 4px 12px rgba(37, 99, 235, 0.3);
    border-radius: 12px;
    padding-block: 14px;
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 12px;
    transition: all 1s ease;

    &::after {
        content: url('../../assets/cart/cart-arrow.svg');
        position: relative;
        top: 3px;
        left: 6px;
    }

    &:active {
        background: linear-gradient(172.41deg, rgb(32, 87, 206), rgb(26, 65, 173) 100%);
    }
}

@media (min-width: 1340px) {
    .cart__item {
        min-width: 424px;
        padding-top: 50px;
    }
}