.additional-services {
    padding-top: 50px;
    margin-bottom: 50px;
}

.additional-services__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 25px;
}

.additional-services__header-title {

    h1 {
        color: rgba(15, 23, 42, 255);
        font-family: Inter;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
    }

    p {
        color: rgba(100, 116, 139, 255);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}

.additional-services__header__flight-direction {
    width: 100%;
    max-width: 180px;
    background: rgba(239, 246, 255, 255);
    padding: 4px 12px;
    border-radius: 12px;

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            text-transform: uppercase;
            color: rgba(30, 41, 59, 255);
            font-family: Inter;
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
            letter-spacing: 0.6px;

            &:nth-child(2) {
                position: relative;
                padding-right: 10px;

                &::after {
                    content: url('../../assets/services/arrow-right.png');
                    position: absolute;
                }
            }
        }
    }
}

.additional-services__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 26px;
}

@media (min-width: 572px) {

    .additional-services__header {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 916px) {

    .additional-services__header {
        flex-direction: row;
        max-width: 886px;
        margin: 0 auto 25px;
    }
}

@media (min-width: 1340px) {
    .additional-services {
        width: 100%;
        max-width: 886px;
    }
}

@media (min-width: 1371px) {

    .additional-services__header {
        max-width: 1380px;
    }

    .additional-services__header-title {

        h1 {
            font-size: 30px;
        }
    }
}