.empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding-inline: 20px;
    padding-block: 72px;
    border-bottom: 1px solid rgba(241, 245, 249, 255);

    img {
        margin-bottom: 12px;
    }

    p {
        color: rgba(148, 163, 184, 255);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
}